/* Primary text color - #212121 */
/* Secondary text color - #757575 */
/* background color - #E5E5E5; */
/* hover color primary - #FFFFFF */
/* hover color secondary - #2196F3 */
/* footer bcg - #2F303A */
/* footer email, tel color - rgba(255, 255, 255, 0.6) */


/* ----------------ОБЩЕЕ---------------- */

body {
  background-color: #FFFFFF;
  color: var(--Primary-text-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
}

:root {
  --Primary-text-color: #212121;
  --hover-background-color: #2196f3;
  --hover-text-color: #ffffff;
  --secondary-text-color: #757575;
}

.list {
  list-style-type: none;
  text-decoration: none;
}

.hero-list-button {
  cursor: pointer;
}

.hero-button {
  cursor: pointer;
}

.link {
  text-decoration: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  color: var(--hover-background-color);
  text-decoration: none;
}

.logo-span-header {
  color: var(--Primary-text-color);
}

.logo-span-footer {
  color: #FFFFFF;
}

.current {
  color: var(--hover-background-color);
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 2%;
}

.header-list-link {
  color: var(--Primary-text-color);
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 2%;
}

.header-list-link:hover,
.header-list-link:focus {
  color: var(--hover-background-color);
}

.contact-link {
  color: var(--secondary-text-color);
font-size: 14px;
line-height: calc(16 / 14);
letter-spacing: 2%;
}

.contact-link:hover,
.contact-link:focus {
  color: var(--hover-background-color);
}

/* ----------------PAGE WEBSTUDIO--------------- */

/* ---------------MAIN------------- */

.hero-title {
  text-transform: uppercase;
  font-size: 44px;
  font-weight: 700;
  line-height: calc(60 / 44);
  letter-spacing: 6%;
  color: var(--hover-text-color);
  background-color: #2F303A;
}

.hero-button {
  font-family: inherit;
  font-weight: 700;
  font-size: inherit;
  line-height: calc(30 / 16);
  letter-spacing: 6%;
  color: var(--hover-text-color);
  background-color: var(--hover-background-color);
}

.hero-button:hover,
.hero-button:focus {
  color: #FFFFFF;
  background-color: #188CE8;
}

.about-list-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 3%;
}

.about-list-aftertitle {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 3%;
  color: var(--secondary-text-color);
}

.portfolio {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  letter-spacing: 3%;
}

.team {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  letter-spacing: 3%;
}

.team-list-title {
  line-height: calc(19 / 16);
  letter-spacing: 3%;
}

.team-list-aftertitle {
  font-weight: 400;
  line-height: calc(19 / 16);
  letter-spacing: 3%;
  color: var(--secondary-text-color);
}

/* ------------------PAGE PORTFOLIO----------------- */

/* -----------MAIN----------- */

.hero-list-button {
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: 500;
  line-height: calc(26 / 16);
  letter-spacing: 3%;
}

.hero-list-button:hover,
.hero-list-button:focus {
  color: var(--hover-text-color);
  background-color: var(--hover-background-color);
}

.project-link {
  text-decoration: none;
}

.project-title {
  font-weight: 900;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 6%;
  color: var(--Primary-text-color);
}

.project-title-disc {
  font-weight: 400;
  line-height: calc(30 / 16);
  letter-spacing: 3%;
  color: var(--secondary-text-color);
}

.project-link:hover,
.project-link:focus {
  color: var(--hover-text-color);
  background-color: var(--hover-background-color);
}


/*  ----------------FOOTER---------------- */

.footer {
  background-color: #2F303A;
}

.footer-address {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 3%;
  color: var(--hover-text-color);
}

.footer-contacts {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 3%;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--hover-background-color);
}